<!DOCTYPE html>
<html>
<head>
    <title>Check in app</title>
</head>
<body>
    <h1>Check in app</h1>
    <ul>
        
            <li>
                <a href="{{ url_for('routes_check.check_in' )}}"> Check-in </a>
            </li>
            <li>
                <a href="{{ url_for('routes_check.check_out')}}">Check-out</a>
            </li>
            <li>
                <a href="{{ url_for('routes_check.check_list') }}">Check-(in/outs) List </a>
            </li>
            
    </ul>
</body>
</html>
